@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: whitesmoke;
}

.ProseMirror {
  padding: 38px 24px;
  font-size: 13px;
  line-height: 170%;
  min-height: 100vh;
}

.ProseMirror-focus {
  outline: none !important;
}
